<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.sys.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.sys.entity.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="icon" property="icon"/>
        <result column="email" property="email"/>
        <result column="nick_name" property="nickName"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="login_time" property="loginTime"/>
        <result column="status" property="status"/>
        <result column="supply_id" property="supplyId"/>
        <result column="dealer_name" property="dealerName"/>
        <result column="dealer_phone" property="dealerPhone"/>
        <result column="realname" property="realname"/>
        <result column="phone" property="phone"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="county" property="county"/>
        <result column="address" property="address"/>
        <result column="type" property="type"/>
        <result column="self_pick" property="selfPick"/>
        <result column="weixin_openid" property="weixinOpenid"/>
        <result column="avatar" property="avatar"/>
        <result column="apply_status" property="applyStatus"/>
        <result column="apply_time" property="applyTime"/>
        <result column="balance" property="balance" />
        <result column="integration" property="integration" />
        <result column="integration_status" property="integrationStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, icon, email, nick_name, note, create_time, login_time, status, supply_id,dealer_name,dealer_phone,realname,phone,province,city,county,address,type,self_pick,weixin_openid,avatar,apply_status,apply_time,balance,integration,integration_status
    </sql>

    <select id="selectByUserName" resultType="com.zscat.mallplus.sys.entity.SysUserVo">
        select * from sys_user
        where username = #{username} and apply_status = '2'
    </select>

    <!-- 修改用户名称的接口 -->
    <update id="updateUsernameById">
        update sys_user set username = #{username} where id = #{id}
    </update>

    <!-- 修改手机号-->
    <update id="updatePhoneById">
        update sys_user set phone = #{phone} where id = #{id}
    </update>

    <!-- 根据手机号，微信昵称，商户号选择经销商-->
    <select id="listDealer" resultType="Map">
       SELECT
          a.id as "id",
          a.gid as "gid",
          a.pid as "pid",
          a.weixin_openid as "weixin_openid",
          a.nick_name as "nickName",
          a.username as "username",
          ifnull(a.dealer_name,'') as "dealerName",
          ifnull(a.realname,'') as "realname",
          ifnull(a.phone,'') as "phone",
          ifnull(b.mchid,0) as "mchid"
        FROM
            sys_user a,
            sys_applet_set b
        WHERE
            a.id = b.user_id
            and a.level = #{level}
            <if test="value != null and value != ''">
                AND (a.phone = #{value} or a.nick_name = #{value} or b.mchid = #{value})
            </if>
            and a.store_id = #{storeId}
    </select>
</mapper>
