<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.ums.mapper.UmsMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.ums.entity.UmsMember">
        <id column="id" property="id"/>
        <result column="uniacid" property="uniacid"/>
        <result column="uid" property="uid"/>
        <result column="groupid" property="groupid"/>
        <result column="member_level_id" property="memberLevelId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="icon" property="icon"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="city" property="city"/>
        <result column="job" property="job"/>
        <result column="personalized_signature" property="personalizedSignature"/>
        <result column="source_type" property="sourceType"/>
        <result column="integration" property="integration"/>
        <result column="growth" property="growth"/>
        <result column="luckey_count" property="luckeyCount"/>
        <result column="history_integration" property="historyIntegration"/>
        <result column="avatar" property="avatar"/>
        <result column="weixin_openid" property="weixinOpenid"/>
        <result column="invitecode" property="invitecode"/>
        <result column="blance" property="blance"/>
        <result column="school_id" property="schoolId"/>
        <result column="store_id" property="storeId"/>
        <result column="area_id" property="areaId"/>
        <result column="school_name" property="schoolName"/>
        <result column="area_name" property="areaName"/>
        <result column="buy_count" property="buyCount"/>
        <result column="buy_money" property="buyMoney"/>
        <result column="member_level_name" property="memberLevelName"/>
        <result column="room_nums" property="roomNums"/>
        <result column="room_desc" property="roomDesc"/>
        <result column="weixin" property="weixin"/>
        <result column="integration_status" property="integrationStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uniacid, uid, groupid, member_level_id, username, password, nickname, phone, status, create_time, icon, gender, birthday, city,
        job, personalized_signature, source_type, integration, growth, luckey_count, history_integration, avatar,
        weixin_openid, invitecode, blance, school_id,store_id,area_id,school_name,area_name,buy_count,buy_money,member_level_name,
        room_nums,room_desc,weixin,integration_status
    </sql>

    <select id="listByDate" resultMap="BaseResultMap">
        select * from ums_member where
        <if test="type==1">
            date_format(create_time,'%y%m%d') = date_format(#{date},'%y%m%d')
        </if>
        <if test="type==2">
            date_format(create_time,'%y%m') = date_format(#{date},'%y%m')
        </if>
    </select>
    <select id="memberMonthStatic" resultType="Map">
        SELECT sum(CASE DATE_FORMAT(create_time, '%m') WHEN '01' THEN 1 ELSE 0 END) AS a1, sum(CASE
        DATE_FORMAT(create_time, '%m') WHEN '02' THEN 1 ELSE 0 END) AS a2, sum(CASE DATE_FORMAT(create_time,
        '%m') WHEN '03' THEN 1 ELSE 0 END) AS a3, sum(CASE DATE_FORMAT(create_time, '%m') WHEN '04' THEN
        1 ELSE 0 END) AS a4, sum(CASE DATE_FORMAT(create_time, '%m') WHEN '05' THEN 1 ELSE 0 END) AS
        a5, sum(CASE DATE_FORMAT(create_time, '%m') WHEN '06' THEN 1 ELSE 0 END) AS a6,
        sum(CASE DATE_FORMAT(create_time, '%m') WHEN '07' THEN 1 ELSE 0 END) AS a7,
        sum(CASE DATE_FORMAT(create_time, '%m') WHEN '08' THEN 1 ELSE 0 END) AS a8, sum(CASE
        DATE_FORMAT(create_time, '%m') WHEN '09' THEN 1 ELSE 0 END) AS a9, sum(CASE DATE_FORMAT(create_time,
        '%m') WHEN '10' THEN 1 ELSE 0 END) AS a10, sum(CASE DATE_FORMAT(create_time, '%m') WHEN '11' THEN
        1 ELSE 0 END) AS a11, sum(CASE DATE_FORMAT(create_time, '%m') WHEN '12' THEN 1 ELSE 0 END) AS
        a12
        FROM ums_member
        WHERE YEAR(create_time) = YEAR(#{date})
    </select>

    <select id="selectByUsernameLeader" resultMap="BaseResultMap">
        select
            id,
            uniacid,
            uid,
            groupid,
            username,
            password,
            icon,
            nick_name,
            create_time,
            login_time,
            status,
            store_id,
            store_name,
            phone,
            weixin_openid,
            avatar
        from sys_user where apply_status = '2' and username = #{username}
    </select>

    <select id="selectByUsernameStaff" resultMap="BaseResultMap">
        select
            id,
            uniacid,
            uid,
            groupid,
            username,
            password,
            nick_name,
            phone,
            create_time,
            login_time,
            status,
            store_id,
            store_name,
            weixin_openid,
            avatar,
            weixin,
            icon
        from sys_user_staff where username = #{username}
    </select>

    <!-- 根据标签获取用户信息 -->
    <select id="getMemberByLabelId" resultMap="BaseResultMap">
        select * from ums_member where  id in (select member_id from sms_label_member where label_id=#{labelId})
    </select>

    <!-- 根据标签获取用户信息 -->
    <select id="getUmsIdNickname" resultMap="BaseResultMap">
        select * from ums_member a
        where a.store_id=#{storeId}
        AND a.nickname=#{umsMemberNickname}
        AND a.id=#{umsMemberId}
        AND a.status=#{status_off}
        LIMIT 0,1
    </select>
    <!-- 根据条件查询所有会员表列表 -->
    <select id="selectMember" resultType="com.zscat.mallplus.ums.entity.UmsMember">
        SELECT
        b.card_money
        ,b.card_no
        ,c.name AS "uniacName"
        ,GROUP_CONCAT(e.label_name) AS "labelName"
        ,f.recommendNum AS "recommendNum"
        ,h.username AS "recommendName"
        ,a.* FROM
        ums_member a
        LEFT JOIN wt_water_card b ON a.id=b.ums_member_id
        AND b.del_flag='1'
        LEFT JOIN account_wechats c ON c.uniacid=a.uniacid
        LEFT JOIN sms_label_member d ON d.member_id=a.id

        <if test="entity.memberLevelId != null and entity.memberLevelId != ''">
            and d.label_id=#{entity.memberLevelId}
        </if>

        LEFT JOIN sms_label_set e ON d.label_id=e.id
        LEFT JOIN (select f.member_id ,count(f.id) AS "recommendNum"
        from ums_member_recommend f
        GROUP BY f.member_id) f
        ON f.member_id=a.id
        LEFT JOIN ums_member_recommend g ON g.member_recommend_id=a.id
        LEFT JOIN ums_member h ON h.id=g.member_id
        where 1=1
        <if test="entity.username != null and entity.username != ''">
            AND a.username=#{entity.username}
        </if>
        <if test="entity.dealerId != null and entity.dealerId != ''">
            AND a.dealer_id=#{entity.dealerId}
        </if>
        <if test="entity.storeId != null and entity.storeId != ''">
            AND a.store_id=#{entity.storeId}
        </if>
        <if test="entity.id != null and entity.id != ''">
            AND a.id=#{entity.id}
        </if>
        <if test="entity.phone != null and entity.phone != ''">
            AND a.phone=#{entity.phone}
        </if>
        <if test="entity.cardNo != null and entity.cardNo != ''">
            AND b.card_no=#{entity.cardNo}
        </if>

        <if test="entity.uniacName != null and entity.uniacName != ''">
            AND c.name like concat('%',#{entity.uniacName},'%')
        </if>
        <if test="entity.memberLevelId != null and entity.memberLevelId != ''">
            AND a.member_level_id=#{entity.memberLevelId}
        </if>
        <if test="entity.labelName != null and entity.labelName != ''">
            AND e.label_name like concat('%',#{entity.labelName},'%')
        </if>
        GROUP BY a.id
    </select>
    <delete id="removeLabel" >
    	delete from
        sms_label_member
        where label_id=#{id} AND member_id=#{umsMemberId}
  	</delete>
</mapper>
