<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.wxminiapp.mapper.ImsAccountWxappMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.wxminiapp.entity.ImsAccountWxapp">
        <id column="acid" property="acid"/>
        <result column="uniacid" property="uniacid"/>
        <result column="token" property="token"/>
        <result column="encodingaeskey" property="encodingaeskey"/>
        <result column="level" property="level"/>
        <result column="account" property="account"/>
        <result column="original" property="original"/>
        <result column="key" property="key"/>
        <result column="secret" property="secret"/>
        <result column="name" property="name"/>
        <result column="appdomain" property="appdomain"/>
        <result column="auth_refresh_token" property="authRefreshToken"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="store_id" property="storeId"/>
        <result column="store_name" property="storeName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        acid,uniacid,token,encodingaeskey,level,account,original,key,secret,name,appdomain,auth_refresh_token,create_by,create_time,store_id,store_name
    </sql>
</mapper>
